ul, li {
  margin: 0;
  padding: 0; }

ul.gallery {
  margin-left: 50px;
  list-style-type: none;
  position: relative; }
  ul.gallery li {
    display: inline-block; }
    ul.gallery li:target a.thumbnail-photo {
      opacity: 1; }
    ul.gallery li:target a.original-photo {
      z-index: 1;
      opacity: 1; }
    ul.gallery li:not(:first-child) {
      margin-left: 20px; }

a.thumbnail-photo {
  opacity: 0.5; }
  a.thumbnail-photo:hover {
    opacity: 0.7; }
  a.thumbnail-photo img {
    width: 130px;
    height: 80px; }

a.original-photo {
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  position: absolute;
  top: 88.88889px;
  left: 0;
  opacity: 0; }
  a.original-photo img {
    margin: 0 auto;
    width: 900px;
    height: 700px; }
